<!DOCTYPE html>
<html lang="en">
  <head>

    <title>For Disabled</title>

    <style>
    #bodybg {
      background: linear-gradient(white,#6600ff);
    }
    </style>

    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">
  </head>
  <body id="bodybg">
    <div class="container">

        <!-- ======================== -->
        <div class="row">
          <div class="col"></div>
          <div class="col-md-10 pt-5 pb-5" >

            <center>
            <h1 class="pb-5 pt-5" style="color: #6600ff";>CALL BUS</h1>

            <div class="row">

              <div class="col-md">
				        <iframe  src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d944.2183763351593!2d98.95197312915113!3d18.80378979920279!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x30da3a6986a44d33%3A0x26567f48ad5789ee!2z4Lig4Liy4LiE4Lin4Li04LiK4Liy4Lin4Li04LiX4Lii4Liy4LiB4Liy4Lij4LiE4Lit4Lih4Lie4Li04Lin4LmA4LiV4Lit4Lij4LmM!5e0!3m2!1sth!2sth!4v1487059979622" width="100%" height="100%"></iframe>
			  </div>

              <div class="col-md pt-5">
                <div class="col-2"></div>
                <div class="col-8">
                  <div class="pb-5">
                    <h1><%= id %></h1>
                  </div>
                  <form class="pt-5 pb-2" method='post', action='student_status'>
                    <div>
                      <h3>Start point</h3>
                    </div>
                    <div class=" pb-5">
                      <input type="text" class="form-control" name="place_start" placeholder="Place">
                    </div>
                    <div>
                      <h3>End point</h3>
                    </div>
                    <div class=" pb-5">
                      <input type="text" class="form-control" name="place_end" placeholder="Place">
                    </div>

                    <div class="pt-2">
                      <button type="submit" class="btn btn-primary btn-lg btn-block">Submit</button>
                    </div>
                    
                  </form>
                    <div class="pb-5">
                      <a href="/users"><button class="btn btn-primary btn-lg btn-block">CANCEL</button></a>
                    </div>
                    <div class="pb-5 pt-5"></div>
                  
                  <!-- <div class="row pt-5 pb-5">
                    <button>cancel</button>                    
                  </div> -->
                </div>
              </div>


            </div>

            </center>

          </div>
          <div class="col"></div>
        </div>

        <div class="row pt-5"></div>
        <div class="row pt-5"></div>

    </div>

    <!-- jQuery first, then Tether, then Bootstrap JS. -->
    <script src="https://code.jquery.com/jquery-3.1.1.slim.min.js" integrity="sha384-A7FZj7v+d/sdmMqp/nOQwliLvUsJfDHW+k9Omg/a/EheAdgtzNs3hpfag6Ed950n" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js" integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js" integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn" crossorigin="anonymous"></script>
  </body>
</html>