<!DOCTYPE html>
<html lang="en">
  <head>

    <title>For Disabled</title>

    <style>
    #bodybg {
      background: linear-gradient(white,#6600ff);
    }
    </style>

    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">
  </head>
  <body id="bodybg">
    <div class="container">

        <!-- ======================== -->
        <div class="row">
          <div class="col"></div>
          <div class="col-md-10 pt-5 pb-5" >

            <center>
            <h1 class="pb-5" style="color: #6600ff";>เลือกตำแหน่งปลายทาง</h1>

            <div class="row">

              <div class="col">
                <img src="https://scontent.fbkk10-1.fna.fbcdn.net/v/t34.0-12/23226732_1989500774399591_999419093_n.jpg?oh=688d4a9f99688069da6689ebe725bc56&oe=5A0003F8" class="img-fluid"  alt="Responsive image">
              </div>

              <div class="col pt-5">
                <div class="col-2"></div>
                <div class="col-8">
                  <form class="pt-5 pb-2" method='post', action='destination'>
                    <div class="pt-5 pb-5">
                      <input type="text" class="form-control" name="name" placeholder="Place">
                    </div>
                    <div class="pt-2">
                      <button type="submit" class="btn btn-primary btn-lg btn-block">NEXT</button>
                    </div>
                    
                  </form>
                    <div>
                      <a href="/start"><button class="btn btn-primary btn-lg btn-block">BACK</button></a>
                    </div>
                  
                  <!-- <div class="row pt-5 pb-5">
                    <button>cancel</button>                    
                  </div> -->
                </div>
              </div>


            </div>

            </center>

          </div>
          <div class="col"></div>
        </div>

    </div>

    <!-- jQuery first, then Tether, then Bootstrap JS. -->
    <script src="https://code.jquery.com/jquery-3.1.1.slim.min.js" integrity="sha384-A7FZj7v+d/sdmMqp/nOQwliLvUsJfDHW+k9Omg/a/EheAdgtzNs3hpfag6Ed950n" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js" integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js" integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn" crossorigin="anonymous"></script>
  </body>
</html>