<!DOCTYPE html>
<html lang="en">
  <head>

    <title>For Disabled</title>

    <style>
    #bodybg {
      background-color: #ccccff;
    }
    #button_status1 {padding: 150px 16px;}
    #button_status2 {padding: 50px 16px;}
    </style>

    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">
  </head>
  <body id="bodybg">
    <div class="container">

        <!-- ======================== -->
        <div class="row">
          <div class="col"></div>
          <div class="col-md-10 pt-5 pb-5" >

            <center>
            <h1 class="pb-5 pt-5" style="color: #6600ff";>List</h1></center>

            <div class="row pt-5">
              <!-- <div class="col-md-8"> -->
                <table class="col-md-8 table">
                  <thead class="thred-inverse">
                    <tr>
                      <th style="width: 20%">Student ID</>
                      <th>Start</th>
                      <th>Destination</th>
                      <th>Status</th>
                    </tr>
                  </thead>
                    <tr>
                      <th>610510999</th>
                      <td>อ่างแก้ว</td>
                      <td>ห้องสมุดกลาง</td>
                      <td>proceed</td>
                    </tr>
                    <tr>
                      <th>620410900</td>
                      <td>คณะบริหารธุรกิจ</td>
                      <td>หน้ามอ</td>
                      <td>wait</td>
                    </tr>
                  <tbody>
                  </tbody>
                </table>
              <!-- </div> -->

              <div class="col-md-4">
                <div class="col">
                  <a href="/users"><button id="button_status1" type="button" class="btn btn-primary btn-lg btn-block">Call bus</button></a>
                </div>
                <div class="col">
                  <a href="/"><button 
                   id="button_status2" class="btn btn-default btn-lg btn-block">CANCEL</button></a>
                </div>
              </div>
            </div>

            

          </div>
          <div class="col"></div>
        </div>

        <div class="row pt-5"></div>
        <div class="row pt-5"></div>

    </div>

    <!-- jQuery first, then Tether, then Bootstrap JS. -->
    <script src="https://code.jquery.com/jquery-3.1.1.slim.min.js" integrity="sha384-A7FZj7v+d/sdmMqp/nOQwliLvUsJfDHW+k9Omg/a/EheAdgtzNs3hpfag6Ed950n" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js" integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js" integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn" crossorigin="anonymous"></script>
  </body>
</html>