<!DOCTYPE html>
<html lang="en">
  <head>

    <title>For Disabled</title>

    <style>
    #bodybg {
      background: #ccccff;
    }
    </style>

    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">
  </head>
  <body id="bodybg">
    <div class="container">

        <!-- ======================== -->
        <div class="row pt-5"></div>
        <div class="row pt-5"></div>
        <div class="row">
          <div class="col"></div>
          <div class="col-md-8 pt-5">

            <center>
            <div >
              <h1> Student ID</h1>
            </div>
            <form class="col-md-6 pb-2" method='post', action='call'>
              <div class="pt-5 pb-5">
                <input type="text" class="form-control" name="id_student" placeholder="Student ID">
              </div>
              <div>
                <button type="submit" class="btn btn-primary btn-lg btn-block">NEXT</button>
              </div>
            </form>
            <div class="col-md-6">
              <a href="/student_status"><button class="btn btn-primary btn-lg btn-block">CANCEL</button></a>
            </div>
            </center>

          </div>
          <div class="col"></div>
        </div>
        <div class="row pt-5"></div>
        <div class="row pt-5"></div>
    </div>



    <!-- jQuery first, then Tether, then Bootstrap JS. -->
    <script src="https://code.jquery.com/jquery-3.1.1.slim.min.js" integrity="sha384-A7FZj7v+d/sdmMqp/nOQwliLvUsJfDHW+k9Omg/a/EheAdgtzNs3hpfag6Ed950n" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js" integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js" integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn" crossorigin="anonymous"></script>
  </body>
</html>
